<h1>Create a New Student</h1>

<form action="/students" method="post">
  
  <label for="name">Name</label>
  <input type="text" name="student[name]" id="name"/><br/>
  <label for="bio">Bio</label>
  <input type="text" name="student[bio]" id="bio"/><br/>
  <label for="profile_image">Profile Image</label>
  <input type="text" name="student[profile_image]" id="profile_image"/><br/>
  <label for="background_image">Background Image</label>
  <input type="text" name="student[background_image]" id="background_image"/><br/>
  <label for="quote">Quote</label>
  <input type="text" name="student[quote]" id="quote"/><br/>
  <label for="work">Work</label>
  <input type="text" name="student[work]" id="work"/><br/>
  <label for="work_title">Work Title</label>
  <input type="text" name="student[work_title]" id="work_title"/><br>
  <label for="education">Education</label>
  <input type="text" name="student[education]" id="education"/><br>

  <input type="submit" value="submit"/>
</form>
